$button-color: #fff;

%after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: $button-color;
  width: 150%;
  z-index: -1;
  padding-top: 150%;
  transition: 0.25s ease;
}
%transform {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

@mixin button-theme {
  color: $button-color;
  border: 2px solid $button-color;
  background-color: transparent;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.quote-overlay {
  // border: 1px solid red;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  .card-button {
    @include button-theme;
    z-index: 10;

    &::after {
      @extend %after;
      @extend %transform;
      border-radius: 999px;
    }

    &::after {
      top: 300%;
    }
    &:hover {
      color: black;
      &:after {
        top: 100%;
      }
    }
  }
}
