.show-alert {
  opacity: 1;
  transition: all 250ms linear;
}

.close-alert {
  opacity: 0;
  transition: all 250ms linear;
}

.alert {
  color: rgb(134, 144, 160);
  z-index: 1;
  //   background-color: white;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 70px;
  display: none;

  @media screen and (max-width:400px){
    display: block;
  }
}

.no-data-container{
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: #8690a0;
  font-size: 22px;
  font-weight: bold;
}
